fastapi
uvicorn[standard]
openai
httpx
python-dotenv
json5
requests
pandas
openpyxl
pdfminer.six
pdfplumber
python-pptx
lxml
tabulate
python-docx
alibabacloud_docmind_api20220711
alibabacloud_credentials
alibabacloud_tea_openapi
alibabacloud_tea_util
darabonba_core
alibabacloud_gateway_spi
aliyun-python-sdk-core
aliyun-python-sdk-kms
